[submodule "src/MDD4All.EAFacade.DataModels.Contracts"]
	path = src/MDD4All.EAFacade.DataModels.Contracts
	url = https://github.com/oalt/MDD4All.EAFacade.DataModels.Contracts.git
[submodule "src/MDD4All.EAFacade.DataAccess.Cached"]
	path = src/MDD4All.EAFacade.DataAccess.Cached
	url = https://github.com/oalt/MDD4All.EAFacade.DataAccess.Cached.git
[submodule "src/MDD4All.QvtEditor.EaPlugin"]
	path = src/MDD4All.QvtEditor.EaPlugin
	url = https://github.com/oalt/MDD4All.QvtEditor.EaPlugin.git
[submodule "src/MDD4All.EnterpriseArchitect.Manipulations"]
	path = src/MDD4All.EnterpriseArchitect.Manipulations
	url = https://github.com/oalt/MDD4All.EnterpriseArchitect.Manipulations.git
[submodule "src/MDD4All.UI.DataModels"]
	path = src/MDD4All.UI.DataModels
	url = https://github.com/oalt/MDD4All.UI.DataModels.git
[submodule "src/SlnParser"]
	path = src/SlnParser
	url = https://github.com/oalt/SlnParser.git
[submodule "src/LL.MDE.Components.Qvt.Common"]
	path = src/LL.MDE.Components.Qvt.Common
	url = https://github.com/oalt/LL.MDE.Components.Qvt.Common.git
[submodule "src/MDD4All.QVT.MetamodelExtensions"]
	path = src/MDD4All.QVT.MetamodelExtensions
	url = https://github.com/oalt/MDD4All.QVT.MetamodelExtensions.git
[submodule "src/LL.MDE.Components.Qvt.CodeGenerator"]
	path = src/LL.MDE.Components.Qvt.CodeGenerator
	url = https://github.com/oalt/LL.MDE.Components.Qvt.CodeGenerator.git
	branch = dev
[submodule "src/LL.MDE.Components.Qvt.Metamodel.Generator"]
	path = src/LL.MDE.Components.Qvt.Metamodel.Generator
	url = https://github.com/oalt/LL.MDE.Components.Qvt.Metamodel.Generator.git
	branch = dev
[submodule "src/LL.MDE.Components.Qvt.EnArImport"]
	path = src/LL.MDE.Components.Qvt.EnArImport
	url = https://github.com/oalt/LL.MDE.Components.Qvt.EnArImport.git
	branch = dev
[submodule "src/LL.MDE.Components.Qvt.EnArIntegration"]
	path = src/LL.MDE.Components.Qvt.EnArIntegration
	url = https://github.com/oalt/LL.MDE.Components.Qvt.EnArIntegration.git
	branch = dev
[submodule "src/LL.MDE.Components.Qvt.EnArInterface"]
	path = src/LL.MDE.Components.Qvt.EnArInterface
	url = https://github.com/oalt/LL.MDE.Components.Qvt.EnArInterface.git
	branch = dev
[submodule "src/LL.MDE.Components.Qvt.Metamodel"]
	path = src/LL.MDE.Components.Qvt.Metamodel
	url = https://github.com/oalt/LL.MDE.Components.Qvt.Metamodel.git
	branch = dev
[submodule "src/LL.MDE.Components.Common.EnArLoader"]
	path = src/LL.MDE.Components.Common.EnArLoader
	url = https://github.com/oalt/LL.MDE.Components.Common.EnArLoader.git
	branch = dev
[submodule "src/LL.MDE.Components.Common.Util"]
	path = src/LL.MDE.Components.Common.Util
	url = https://github.com/oalt/LL.MDE.Components.Common.Util.git
	branch = dev
[submodule "src/LL.MDE.Components.Qvt.TextConcreteSyntaxGen"]
	path = src/LL.MDE.Components.Qvt.TextConcreteSyntaxGen
	url = https://github.com/oalt/LL.MDE.Components.Qvt.TextConcreteSyntaxGen.git
	branch = dev
[submodule "src/MDD4All.QvtCodeGenerator.Apps.EaPlugin"]
	path = src/MDD4All.QvtCodeGenerator.Apps.EaPlugin
	url = https://github.com/oalt/MDD4All.QvtCodeGenerator.Apps.EaPlugin.git
	branch = dev
