[submodule "src/MDD4All.EAFacade.DataModels.Contracts"]
	path = src/MDD4All.EAFacade.DataModels.Contracts
	url = https://github.com/oalt/MDD4All.EAFacade.DataModels.Contracts.git
[submodule "src/MDD4All.EAFacade.DataAccess.Cached"]
	path = src/MDD4All.EAFacade.DataAccess.Cached
	url = https://github.com/oalt/MDD4All.EAFacade.DataAccess.Cached.git
[submodule "src/MDD4All.QvtEditor.EaPlugin"]
	path = src/MDD4All.QvtEditor.EaPlugin
	url = https://github.com/oalt/MDD4All.QvtEditor.EaPlugin.git
[submodule "src/MDD4All.EnterpriseArchitect.Manipulations"]
	path = src/MDD4All.EnterpriseArchitect.Manipulations
	url = https://github.com/oalt/MDD4All.EnterpriseArchitect.Manipulations.git
[submodule "src/MDD4All.UI.DataModels"]
	path = src/MDD4All.UI.DataModels
	url = https://github.com/oalt/MDD4All.UI.DataModels.git
[submodule "src/MDD4All.EnterpriseArchitect.ModelTree"]
	path = src/MDD4All.EnterpriseArchitect.ModelTree
	url = https://github.com/oalt/MDD4All.EnterpriseArchitect.ModelTree.git
[submodule "src/MDD4All.UI.BlazorComponents"]
	path = src/MDD4All.UI.BlazorComponents
	url = https://github.com/oalt/MDD4All.UI.BlazorComponents.git
[submodule "src/MDD4All.UI.BlazorComponents.EnterpriseArchitect"]
	path = src/MDD4All.UI.BlazorComponents.EnterpriseArchitect
	url = https://github.com/oalt/MDD4All.UI.BlazorComponents.EnterpriseArchitect.git
[submodule "src/MDD4All.FileAccess.Contracts"]
	path = src/MDD4All.FileAccess.Contracts
	url = https://github.com/oalt/MDD4All.FileAccess.Contracts.git
[submodule "src/MDD4All.FileAccess.WPF"]
	path = src/MDD4All.FileAccess.WPF
	url = https://github.com/oalt/MDD4All.FileAccess.WPF.git
[submodule "src/SlnParser"]
	path = src/SlnParser
	url = https://github.com/oalt/SlnParser.git
[submodule "src/LL.MDE.Components.Qvt.Common"]
	path = src/LL.MDE.Components.Qvt.Common
	url = https://github.com/oalt/LL.MDE.Components.Qvt.Common.git
[submodule "src/MDD4All.QVT.MetamodelExtensions"]
	path = src/MDD4All.QVT.MetamodelExtensions
	url = https://github.com/oalt/MDD4All.QVT.MetamodelExtensions.git
[submodule "src/LL.MDE.Components.Qvt.CodeGenerator"]
	path = src/LL.MDE.Components.Qvt.CodeGenerator
	url = https://github.com/oalt/LL.MDE.Components.Qvt.CodeGenerator.git
	branch = dev
[submodule "src/MDD4All.JsonSchema"]
	path = src/MDD4All.JsonSchema
	url = https://github.com/oalt/MDD4All.JsonSchema.git
