[submodule "src/MDD4All.EAFacade.DataModels.Contracts"]
	path = src/MDD4All.EAFacade.DataModels.Contracts
	url = https://github.com/oalt/MDD4All.EAFacade.DataModels.Contracts.git
[submodule "src/MDD4All.EAFacade.DataAccess.Cached"]
	path = src/MDD4All.EAFacade.DataAccess.Cached
	url = https://github.com/oalt/MDD4All.EAFacade.DataAccess.Cached.git
[submodule "src/MDD4All.QvtEditor.EaPlugin"]
	path = src/MDD4All.QvtEditor.EaPlugin
	url = https://github.com/oalt/MDD4All.QvtEditor.EaPlugin.git
[submodule "src/MDD4All.EnterpriseArchitect.Manipulations"]
	path = src/MDD4All.EnterpriseArchitect.Manipulations
	url = https://github.com/oalt/MDD4All.EnterpriseArchitect.Manipulations.git
[submodule "src/MDD4All.UI.DataModels"]
	path = src/MDD4All.UI.DataModels
	url = https://github.com/oalt/MDD4All.UI.DataModels.git
[submodule "src/MDD4All.EnterpriseArchitect.ModelTree"]
	path = src/MDD4All.EnterpriseArchitect.ModelTree
	url = https://github.com/oalt/MDD4All.EnterpriseArchitect.ModelTree.git
[submodule "src/MDD4All.UI.BlazorComponents"]
	path = src/MDD4All.UI.BlazorComponents
	url = https://github.com/oalt/MDD4All.UI.BlazorComponents.git
[submodule "src/MDD4All.BlazorComponents.EnterpriseArchitect"]
	path = src/MDD4All.BlazorComponents.EnterpriseArchitect
	url = https://github.com/oalt/MDD4All.BlazorComponents.EnterpriseArchitect.git
[submodule "src/MDD4All.UI.BlazorComponents.EnterpriseArchitect"]
	path = src/MDD4All.UI.BlazorComponents.EnterpriseArchitect
	url = https://github.com/oalt/MDD4All.UI.BlazorComponents.EnterpriseArchitect.git
