
.mainContainer  {
    display: grid;
    min-height: 100%;
    grid-template-rows: 50px 1fr 20px;
    grid-auto-flow: row;
}

.topRow {
    grid-row: 1;
    border-bottom: 1px solid darkgray;
}

.contentPanel {
    height: calc(100vh - 70px);
    overflow: auto;
    grid-row: 2;
    
}

.statusPanel {
    grid-row: 3;
    background-color: darkred;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}